* {
    margin: 0 auto;
    padding: 2;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
    line-height: 2;
    color: #333;
    background-color: #fff;
}



header {
	background-color: #bbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


main{
    margin: 0 auto;
    max-width: 800px;
}
main h1 {

	font-size: 2rem;
    justify-content: center;
    border-bottom: 1px solid #777;
	margin-bottom: 1rem;
    text-align: center;
}



nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;

}

nav a {

    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 2px solid #fff;
   }

nav ul{
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
  
}

nav ul li {
   flex: 1 1 100%;
}

.container {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 25px;
	place-items: center;

}

.temples {
    font-weight: 700;
	border-bottom: 1px solid #777;
	margin-bottom: 1rem;
}

figcaption{
    font-size: smaller;
}

footer {
    background-color: 
    color: var(--footer-text);
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}

#lastModified {
    color: var(--last-mod-color);
    font-size: 0.9rem;
}


@media (max-width: 850px) {
    main {
        grid-template-columns: 1fr;
    }
    
    nav {
        flex-direction: column;
        gap: 10px;
    }
}







