
@media (min-width: 850px) {

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    nav ul li {
        flex: 0 1 auto;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main {
        max-width: 900px;
    }

}